.App {
  text-align: center;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.wrapperClassName {
  width: inherit;
  color: rgb(10, 116, 238);
  height: 40vh;
}

.toolbarClassName {
  border: 5px solid rgb(236, 0, 0);
}
.editorClassName {
  background: rgb(229, 221, 221);
  margin-top: 20px;
  border-color: black;
  height: 20px;
}
